* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-weight: 900;
    font-size: 80px;
    line-height: 80px;
    text-transform: uppercase;
    position: relative;
}

h1::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 292px;
    background-color: #fff;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

h1::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 292px;
    background-color: #fff;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

h2 {
    font-weight: 400;
    font-size: 30px;
}

.container {
    margin: 0 auto;
    width: 1144px;
}

header {
    color: #fff;
    padding: 38px 0px 61px 0px;
    text-align: center;
    background: url(../img/main_bg.png);
}

.icon-header p {
    margin-top: 10px;
    text-transform: uppercase;
}

.text-yellow {
    font-weight: 900;
    font-size: 41px;
    text-transform: uppercase;

    color: #F9BF3B;
}

.text-yellow:nth-child(1) {
    margin-top: 53px;
}

.text-yellow:nth-child(2) {
    margin-top: 21px;
}

.text-description {
    font-weight: 300;
    font-size: 21px;
    line-height: 28px;
    margin-top: 22.5px;
}

.text-description span {
    color: #F9BF3B;
    text-transform: uppercase;
}

.bottom-header {
    margin-top: 52px;
}

button {
    background: linear-gradient(0deg, #2798B9 0%, #3AB6DA 100%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    padding: 15px 24px;


    text-align: center;
    text-transform: uppercase;
    text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.22);
    color: #FFFFFF;
    font-size: 14px;
    line-height: 24px;
    cursor: pointer;
    border: none;
}

.bottom-icon {
    margin-top: 95px;
}

.bottom-icon img {
    margin-top: 5px;
}

/* Waiting Section */

#waiting {
    background: #EFEFEF;
    padding: 88px 0px 75px 0px;
    text-align: center;
}

#waiting hr {
    width: 217px;
    height: 4px;
    border: none;
    background: #F9BF3B;
    margin: 20px auto 0 auto;

}

.waiting-items {
    margin-top: 46px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.waiting-items .item {
    width: 342px;
    text-align: center;
}

.waiting-items .item p {
    margin-top: 26px;
}

.text-header-waiting {
    margin-top: 20px;
}

/* Start Optimization section */

#optimization {
    padding: 108px 0 74px 0;
    position: relative;
    height: 547px;
}



#optimization .container img {
    position: absolute;
    z-index: -1;
    left: 150px;
    top: 47px;
}

.text-optimization {
    float: right;
    width: 750px;
}

.text-optimization h2 {
    text-align: center;
    font-weight: 900;
    color: #299CBD;
    width: 100%;
}

.text-optimization p {
    font-weight: 300;
    font-size: 17px;
    line-height: 27px;
}

.text-optimization p span {
    font-weight: 700;
}

/* Start Finish Section */

#finish {
    padding: 86px 0px 72px 0px;
    background-image: url(../img/second_bg.png);
    background-size: cover;
}

#finish h2 {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

#finish hr {
    width: 217px;
    height: 4px;
    border: none;
    background: #F9BF3B;
    margin: 20px auto 0 auto;
}

.finish-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 39px;
}

.image-block {
    width: 118px;
    height: 118px;
    background-color: #B4E2FF;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.finish-items .item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.finish-items .item .text {
    max-width: 226px;
    text-align: center;
    color: #fff;
    margin-top: 25px;
    font-weight: 300;

}

/* Start Bonus Section */

#bonus {
    padding: 88px 0;
    background-color: #EFEFEF;
}

.bonus-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bonus-box .text {
    text-align: center;
    margin-top: 55px;
    line-height: 43px;
    font-weight: 400;
    font-size: 30px;
}

.bonus-box button {
    margin-top: 77px;
}
/* Start webinar section */
#about-webinar{
    padding: 88px 0px;
    background-color: #f9f9f9;
}
.webinar-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
 .text1{
    text-align: center;
    color:  #252525;
    text-transform: uppercase;
    margin-top:35px;
    line-height: 30px;
    font-weight: 400;
    font-size: 30px;
}
 .text2{
    text-align: center;
    text-transform: uppercase;
    margin-top:25px;
    line-height: 30px;
    font-weight: 900;
    font-size: 35px;
    color: #299CBD;
}
.text3{
    text-align: center;
    text-transform: uppercase;
    margin-top:15px;
    line-height: 20px;
    font-weight:400;
    font-size: 23px;
    color:#4A4A4A;
    margin-top: 30px;
}
/* End webinar section */
/* start footer station */
footer{
    width: 1519px;
    background-color:#1A1A1A;
    padding: 57px 0px 69px 0px;
}
.footer-text{
text-align: center;
}
.footer-text p{
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    text-decoration-line: underline;
    color: #888888;
}
/* end footer station */